---
import ImageTooltip from '../../components/ImageTooltip.astro';
import { getLangFromURL } from '../../i18n/util';
import LayoutContact from '../../layouts/LayoutContact.astro';

const lang = getLangFromURL(Astro.url);

const personalLinksData = [
  {
    'description': 'Send message from mail manager',
    'url': 'mailto:miguelangelromeropedreira@gmail.com',
    'iconPath': '/images/email-icon.svg',
    'altText': 'Symbol of a closed envelope'
  },
  {
    'description': 'Personal LinkedIn profile',
    'url': 'https://www.linkedin.com/in/miguellrp/',
    'iconPath': '/images/linkeding-icon.svg',
    'altText': 'LinkedIn website logo'
  },
  {
    'description': 'Personal GitHub profile',
    'url': 'https://github.com/miguellrp',
    'iconPath': '/images/github-icon.svg',
    'altText': 'GitHub website logo'
  },
];
---

<LayoutContact>
  <form slot='contact-form' name='contact-form' data-netlify='true'>
    <div class='label-input'>
      <label for='name'>Name</label>
      <input type='text' name='name' id='name' maxlength='60' required />
    </div>
    <div class='label-input'>
      <label for='email'>E-mail</label>
      <input type='email' name='email' id='email' maxlength='120' required />
    </div>
    <div class='label-input'>
      <label for='message'>Message</label>
      <textarea name='message' id='message' maxlength='5000' required />
    </div>
    <input type='submit' name='contact-form' value='Send' />
  </form>
  <section slot='other-contact-icons' class='other-contact-icons'>
    {personalLinksData.map((personalLink) => (
      <ImageTooltip
        srcImage={personalLink.iconPath}
        altImage={personalLink.altText}
        tooltipText={personalLink.description}
        urlLink={personalLink.url}>
      </ImageTooltip>
    ))}
  </section>
</LayoutContact>