---
import { defaultLang, pageNotFoundContent } from '../i18n/dictionary';
import { getTranslations } from '../i18n/util';
import Footer from '../components/Footer.astro';
import { globalDictionary } from '../i18n/dictionary';
import '/src/styles/globals.css';
import '/src/styles/404.css';

const { pathname } = Astro.url;
let lang = defaultLang;

if (pathname.startsWith('/gl')) {
  lang = 'gl';
} else if (pathname.startsWith('/en')) {
  lang = 'en';
}

const dictionary = getTranslations(lang, globalDictionary);
const dictionary404 = getTranslations(lang, pageNotFoundContent);
---
<html>
	<head>
		<meta charset='utf-8' />
		<link rel='icon' type='image/svg+xml' href='/images/portraitFront.png' />
		<meta name='viewport' content='width=device-width' />
		<meta name='generator' content={Astro.generator} />
    <meta name='description' content={dictionary('head.description')}>
    <title>{dictionary('head.title')}</title>
	</head>
	<body>
    <main slot='section-content'>
      <h1>{dictionary404('title')}</h1>
      <img src='/images/404.svg' width='350'/>
      <h3>{dictionary404('subtitle')}</h3>
      <a class='link-home' href=`/${lang}`>{dictionary404('back-home-text')}</a>
		  <Footer githubUsername='miguellrp' />
    </main>
	</body>
</html>