---
import LayoutBase from '../layouts/LayoutBase.astro';
import LanguagePicker from '../components/LanguagePicker.astro';

---
<LayoutBase>
  <link slot='section-css' rel='stylesheet' href='/src/styles/index.css' />
	<LanguagePicker slot='language-picker' activeSection='-1' />
  <h1>Ups... 👀</h1>
  <h2>Parece que... 404 not found</h2>
</LayoutBase>