---
const { srcFront, altFront, srcBack, altBack} = Astro.props;
import { flipCoin } from '../utils/handleFlipCoin';
---
<style>
  .coin-shape {
    display: flex;
    justify-content: center;
    position: relative;

    min-width: 320px;
    min-height: 320px;

    & .portrait {
      position: absolute;
      width: 100%;
      height: 100%;

      border-radius: 50%;
      border: 8px solid var(--secondary-color);
      cursor: pointer;

      transition: transform 1s ease, opacity .3s linear .15s;
    }

    & .portrait.front {
      opacity: 1;
      z-index: 2;
    }

    & .portrait.back {
      opacity: 0;
      z-index: 1;
      transform: rotateY(180deg);
    }
  }
</style>

<div class='coin-shape'>
  <img class='portrait front' src={srcFront} alt={altFront}>
  <img class='portrait back' src={srcBack} alt={altBack}>
</div>

<script>
import { flipCoin } from '../utils/handleFlipCoin';

const portraitFront = document.querySelector('.portrait.front') as HTMLElement;
const portraitBack = document.querySelector('.portrait.back') as HTMLElement;

portraitFront.addEventListener('click', () => flipCoin('front'));
portraitBack.addEventListener('click', () => flipCoin('back'));
</script>