---
import LayoutBase from '../layouts/LayoutBase.astro';
import { globalDictionary } from '../i18n/dictionary';
import { getLangFromURL, getTranslations } from '../i18n/util.ts';
import LanguagePicker from '../components/LanguagePicker.astro';
import NavBar from '../components/NavBar.astro';
import '/src/styles/contact.css';

const lang = getLangFromURL(Astro.url);
const dictionary = getTranslations(lang, globalDictionary);

---
<LayoutBase>
	<meta slot='head-description' name='description' content={dictionary('head.description')}>
	<title slot='head-title'>{dictionary('head.title')}</title>
  <LanguagePicker slot='language-picker' activeSection='3' />
	<main slot='section-content'>
		<NavBar language={lang} activeSection='3'/>
		<h1>{dictionary('contact.title')}</h1>
		<div class='contact-content'>
			<section class='form-content'>
				<slot name='contact-form' />
			</section>
			<slot name='other-contact-icons' />
		</div>
	</main>
</LayoutBase>