---
import { ViewTransitions } from 'astro:transitions';
import ThemeIcon from '../components/ThemeIcon.astro';
import Footer from '../components/Footer.astro';
import '/src/styles/globals.css';
---
<script>
	import { handleTheme, handleToggleClick, setVisibilityIcons } from '../utils/handlerTheme.ts';
	handleTheme();

  document.addEventListener('astro:page-load', () => {
		handleTheme();
		setVisibilityIcons();
		document.getElementById('theme-switcher').addEventListener('click', handleToggleClick);
	});
</script>

<html data-theme='dark'>
	<head>
		<meta charset='utf-8' />
		<link rel='preload' as='image' href='/images/custom-dark-background.svg' />
		<link rel='preload' as='image' href='/images/custom-light-background.svg' />
		<link rel='icon' type='image/svg+xml' href='/images/portraitFront.png' />
		<meta name='viewport' content='width=device-width' />
		<meta name='generator' content={Astro.generator} />
		<slot name='head-description' />
		<slot name='head-title' />
		<ViewTransitions />
	</head>
	<body>
		<div class='options-group'>
			<slot name='language-picker' />
			<ThemeIcon />
		</div>
		<slot name='section-content' />
		<Footer githubUsername='miguellrp' />
	</body>
</html>
