---
import LayoutBase from '../layouts/LayoutBase.astro';
import { getLangFromURL, useTranslations } from '../i18n/util.ts';
import LanguagePicker from '../components/LanguagePicker.astro';
import NavBar from '../components/NavBar.astro';

const lang = getLangFromURL(Astro.url);
const dictionary = useTranslations(lang);
---
<LayoutBase>
	<link slot='section-css' rel='stylesheet' href='/src/styles/index.css' />
  <LanguagePicker slot='language-picker' activeSection='1' />
	<main slot='section-content'>
		<NavBar language={lang} activeSection='1'/>
		<h1>{dictionary('education.title')}</h1>
	</main>
</LayoutBase>